@model EventUpdateModel
<div class="row w-100">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Events</h4> <br /> <br /> <br />
                <img src="~/assets/img/event/@Model.ImageUrl" style="height:150px" /> <br /> <br /> <br />
                <form class="forms-sample" method="post" asp-action="Update" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Image">Images</label>
                        <input asp-for="Image" class="form-control" placeholder="Name" accept="image/*">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventName">Event Name </label>
                        <input asp-for="EventName" class="form-control" placeholder="Event Name</" />
                        <span asp-validation-for="EventName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Event description</label>
                        <input asp-for="Description" id="editorEventDesc" class="form-control" placeholder="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date">Date</label>
                        <input asp-for="Date" class="form-control" placeholder="Date" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Time">Time</label>
                        <input asp-for="Time" class="form-control" placeholder="Time" />
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location">Location</label>
                        <input asp-for="Location" class="form-control" placeholder="Location" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reply">Leave a reply about event</label>
                        <input asp-for="Reply" id="editorEventReply" class="form-control" placeholder="Reply" />
                        <span asp-validation-for="Reply" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SpeakerIds">Choose The Speakers</label>
                        <select asp-for="SpeakerIds" asp-items="Model.Speakers" class="form-control"></select>
                        <span asp-validation-for="SpeakerIds" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editorEventDesc'))
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#editorEventReply'))
            .catch(error => {
                console.error(error);
            });
    </script>
}