@model SliderUpdateModel
<div class="row w-100">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update slider</h4> <br /> <br /> <br />
                <img src="~/assets/img/slider/@Model.ImageUrl" style="height:150px" /> <br /> <br /> <br />
                <form class="forms-sample" method="post" asp-action="Update" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Image">Images</label>
                        <input asp-for="Image" class="form-control" placeholder="Name" accept="image/*">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Headtitle">Head title</label>
                        <textarea asp-for="Headtitle" class="form-control" id="editorSliderHead" placeholder="Head title"></textarea>
                        <span asp-validation-for="Headtitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subtitle">Sub title</label>
                        <textarea asp-for="Subtitle" class="form-control" id="editorSliderSub" placeholder="Subtitle"></textarea>
                        <span asp-validation-for="Subtitle" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editorSliderHead'))
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#editorSliderSub'))
            .catch(error => {
                console.error(error);
            });
    </script>
}