@model ChooseCreateModel
<div class="row w-100">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Create WHY YOU CHOOSE EDUHOME ?</h4>
                <form class="forms-sample" method="post" asp-controller="chooses" asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="MainTitle">Main Title</label>
                        <textarea asp-for="MainTitle" class="form-control" id="editorMain" placeholder="MainTitle" accept="image/*"></textarea>
                        <span asp-validation-for="MainTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Subtitle">Subtitle</label>
                        <textarea asp-for="Subtitle" class="form-control" placeholder="Subtitle"></textarea>
                        <span asp-validation-for="Subtitle" id="editorSub" class="text-danger"></span>
                    </div>
                    <button type="submit" id="swelChoose" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
        <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/classic/ckeditor.js"></script>
        <script>
            ClassicEditor
            .create(document.querySelector('#editorMain'))
                .catch(error => {
                    console.error(error);
                });
                ClassicEditor
            .create(document.querySelector('#editorSub'))
                .catch(error => {
                    console.error(error);
                });
        </script>
}
    @section sweet{
    <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('#swelChoose').click(function () {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Yeni bir choose kateqoriyası yüklənildi',
                showConfirmButton: false,
                timer: 2000
            })
        })
    </script>
}