@model Tags
<div class="row w-100">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detail Tags</h4> <br /> <br /> <br />
                <br /> <br /> <br />
                <form class="forms-sample" asp-action="Update">
                    <hr />
                    <br /> <br /> <br />
                    <div class="form-group">
                        <h3 class="card-title">Tags Name caption</h3>
                        <em>@Model.TagsName</em>
                    </div>
                    <br /> <br /> <br />
                    <hr />
                    <button class="btn btn-primary" asp-action="Index">Back to Dashboard</button>
                </form>
            </div>
        </div>
    </div>
</div>